<!DOCTYPE html>
<html>
<title>My Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script type="text/javascript" src="/javascript/device_select.js"></script>
<script type="text/javascript" src="/javascript/ws.js"></script>
<body>
  <div class="w3-main">

    <header class="w3-container w3-padding" id="panel_select_header">
      <div class="w3-center">
      <h1 class="w3-xxxlarge w3-animate-bottom">JANUS</h1>
      <h2 class="w3-animate-bottom">1.4.3</h2>
        <div class="w3-padding-32">
          <button class="w3-btn w3-margin-left w3-right w3-xlarge w3-dark-grey w3-hover-light-grey">Wartung</button>
          <button class="w3-btn w3-margin-left w3-right w3-xlarge w3-dark-grey w3-hover-light-grey">DE</button>
          <button class="w3-btn w3-margin-left w3-right w3-xlarge w3-dark-grey w3-hover-light-grey">ENG</button>
          <button class="w3-btn w3-margin-left w3-right w3-xlarge w3-dark-grey w3-hover-light-grey">FR</button>
          <button class="w3-btn w3-margin-left w3-right w3-xlarge w3-dark-grey w3-hover-light-grey">SP</button>
        </div>
      </div>
    </header>

    <%= yield %>
  </div>
</body>
</html>
