<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-half">
    <h3>Erkannte Datenträger:</h3>
    <div class="w3-card w3-container" style="min-height:460px" id="device_selection">
      <table class="w3-table">
        <tr v-for="device in devices">
          <td>{{ device.name }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="w3-half">
    <h3>Details des ausgewählten Datenträgers:</h3>
    <div class="w3-card w3-container" style="min-height:460px" id="selected_device_information">
      <p>Standard CSS only</p>
      <p>Easy to learn</p>
      <p>No need for jQuery</p>
      <p>No JavaScript library</p>
    </div>
  </div>
</div>

</br>

<div class="w3-container w3-bar">
  <button class="w3-bar-item w3-margin w3-button w3-round-xlarge w3-xxlarge w3-dark-grey" style="width:18%">Datenträger komplett prüfen</button>
  <button class="w3-bar-item w3-margin w3-button w3-round-xlarge w3-xxlarge w3-dark-grey" style="width:18%">Dateien prüfen und kopieren</button>
  <button class="w3-bar-item w3-margin w3-button w3-round-xlarge w3-xxlarge w3-dark-grey" style="width:18%">Prüfen und umwandeln</button>
  <button class="w3-bar-item w3-margin w3-button w3-round-xlarge w3-xxlarge w3-dark-grey" style="width:18%">Zonenwechsel</button>
  <button class="w3-bar-item w3-margin w3-button w3-round-xlarge w3-xxlarge w3-dark-grey" style="width:18%">Formatieren</button>
</div>

<script>
  var app = new Vue({
    el: "#device_selection",
    data: {
      devices: [ {name: "Kingston Datatraveller"},
                 {name: "USB-TYP C"}]
    }
  });
</script>

<footer class="w3-container w3-red w3-bottom">
  Scanner nicht aktiv!</br>
  Scanner nicht aktiv!</br>
  Scanner nicht aktiv!</br>
  Scanner nicht aktiv!
</footer>
